/* ----------------------------------------
  Global CSS
------------------------------------------ */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* clearfix */

.group:after {
  content: "";
  display: table;
  clear: both;
}



/* structure */

html, body
{
	width: 100%;
	background: #fff;
}

#main {
	width: 100%;
	background: #fff;
	text-align: center;
}


#break1, #break2 {
	display: none;
	position: absolute;
	z-index: 999;
	left: -666px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

div {
	margin: 0;
}

section {
	width: 100%;
	min-width: 1280px;
	text-align: left;
	display: inline-block;	
	padding: 70px 0;
}

footer section {
	padding: 0;
}

.collapse-top {
	padding-top: 0;
}

section.fixed {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

section h3 {
	font-weight: 300;
	width: 100%;
	text-align: center;
	line-height: 48px;
	color: #252525;
	margin: 0 0 24px;
	padding: 0 14%;
}

section .inner {
	text-align: center;
}

.section-wide {
	padding-left: 55px;
	padding-right: 55px;
}

.section-wide > p,
.section-wide > .inner > p {
	margin: 23px 0 40px 0;
	padding: 0 14%;
	text-align: center;
}

.section-wide .inner{
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
    height: auto;
    padding-left: 54px;
    padding-right: 54px;
}

.section-wide .container-block
{
	width: 868px;
	height: 488px;
}

.section-wide .outer-container {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
}

section iframe {
	width: 868px;
	height: 488px;
	display: block;
	margin: 0 auto 40px;
}

div.col-left {
	width: 872px;
	float: left;
	margin-left: 55px;
	display: block;
}

div.col-right {
	width: 260px;
	float: left;
	margin-left: 30px;
	display: block;
}

div.col-left section,
div.col-right section
{
	margin: 0;
	min-width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

div.col-left h3 {
	text-align: left;
	padding: 0;
}

div.col-right h3 {
	font-size: 21px;
	line-height: 23px;
	margin-bottom: 20px;
	font-weight: 300;
	text-align: left;
	padding: 0;
}

/* elements */

section.hero {
	margin-top: -20px;
	background: #ddd;
	height: 245px;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: inline-block;
	padding-top: 120px;
}

@media screen and (min-width: 900px) {
	section.hero {
		margin-top: 28px;
	}
}

section.hero h2 {
	color: #fff;
	font-size: 60px;
	line-height: 60px;
	min-width: 1280px;
	width: 1280px;
	padding-left: 150px;
	padding-right: 150px;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
}

section.hero p {
	color: #fff;
	width: 605px;
	margin: 50px auto 0 auto;
	text-align: left;
	letter-spacing: 1px;
	font-weight: 200;
}

nav.breadcrumbs {
	display: block;
	padding: 10px 55px 40px 55px;
	text-align: left;
	max-width: 1280px;
	margin: 0 auto;
}

nav.breadcrumbs ul,
nav.breadcrumbs li {
	float: left;
	clear: none;
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

nav.breadcrumbs li {
	margin-right: 15px;
	font-size: 14px;
	font-weight: 400;
}

nav.breadcrumbs li:after
{
	content: " >";
}

nav.breadcrumbs li:last-child:after
{
	content: "";
}

nav.breadcrumbs li a{
	font-size: 14px;
	color: #252525;
	font-weight: 400;
	padding-right: 10px;
}

p.caption
{
	color: #000000;
	font-size: 18px;
	line-height: 20px;
}


/* buttons, widgets and doodads */

a.btn-1 {
	font-family: 'Exo 2';
	color: #007dc3;
	background: #fff;
	font-size: 16px;
	line-height: 16px;
	padding: 14px 36px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	letter-spacing: 1px;
	float: none;
}

a.btn-1:hover {
	color: #00649b;
}

a.btn-2 {
	font-family: 'Exo 2';
	color: #fff;
	background: #007dc3;
	font-size: 16px;
	line-height: 16px;
	padding: 14px 36px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	letter-spacing: 1px;
	float: none;
}

a.btn-2:hover {
background: #00649b;
}

div.share
{
	margin-bottom: 20px;
	display: inline-block;
	height: 35px;
	width: 220px;
	display: block;
}



div.share span.facebook {
	background: url('../img/global/icon-share-facebook.png') top left no-repeat;
}

div.share span.twitter {
	background: url('../img/global/icon-share-twitter.png') top left no-repeat;
}

div.share span.linkedin {
	background: url('../img/global/icon-share-linkedin.png') top left no-repeat;
}

div.share span.share {
	background: url('../img/global/icon-share.png') top left no-repeat;
}

div.share span.twitter {
	background: url('/img/global/icon-share-twitter.png') top left no-repeat;
}

div.share span.linkedin {
	background: url('/img/global/icon-share-linkedin.png') top left no-repeat;
}



.light-gray-bg {
	background: #ebebeb;
}

.full-bleed-feature {
	height: 780px;
	background: #357cd0;
	text-align: center;
	padding: 0 320px 0 320px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.full-bleed-feature div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.full-bleed-feature h3 {
	font-weight: 700;
	font-size: 60px;
	line-height: 68px;
	color: #fff;
	margin: 0;
}

.full-bleed-feature p {
	color: #fff;
	margin: 20px auto 36px auto;
	width: 580px;
	padding: 0;
}

.tile-section {
	/*margin: 0 auto;*/
	/*padding: 0 40px;*/
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

.tile-section-small {
	/*margin: 40px auto 60px;*/
	/*padding: 0 40px;*/
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

.tile-section h3 {
	margin-bottom: 42px;
	font-weight: 300;
	color: #000;
}

.tile-section-small h3 {
	margin-bottom: 0;
}

.tile-section-tile {
	float: left;
	width: 370px;
	margin: 42px 15px 0 15px;
}

.tile-section > a {
	width: 370px;
	height: 420px;
	margin: 0 15px;
	float: left;
	color: #fff;
	display: inline-block;
	position: relative;
}

.tile-section a div {
	height: 100%;
	width: 100%;
	background: none;
}

.tile-section .cover {
	margin: 0;
}

.tile-section a:hover div.cover {
	background-color: rgba(0,0,0,.15);
}

.tile-section a div h5 {
	font-size: 16px;
	line-height: 16px;
	border-bottom: solid 2px #fff;
	width: auto;
	display: inline-block;
	padding-bottom: 5px;
	font-weight: 200;
}

.tile-section a div.inner {
	margin: 0;
	height: auto;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin-top: -52px;
}

.tile-section a div h4 {
	font-size: 42px;
	line-height: 42px;
	font-weight: 700;
	width: 100%;
	margin: 0 0 15px 0;
	padding: 0 15px;
}

.tile-section h4 sup {
    font-size: 24px;
    display: inline-block;
   margin: 0 0 0 2px;
 }

.tile-section .inner p {
	width: 290px;
	margin: 0 auto 0 auto;
	font-size: 19px;
	line-height: 26px;
	font-weight: 200;
}

.tile-section div a.outer {
	width: 370px;
	height: 225px;	
	display: inline-block;
	position: relative;
	float: left;
}

.tile-section div a .inner {
	width: 100%;
	height: 100%;
	background: none;
	position: relative;
	margin: 0;
	color: #fff;	
}

.tile-section div a.outer:hover .inner {
	background-color: rgba(0,0,0,.15);
}

.tile-section-small a .inner h4 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.tile-caption p {
	font-size: 16px;
	line-height: 21px;
	text-align: left;
	margin-top: 16px;
	display: inline-block;
}

.tile-caption ul {
	text-align: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tile-caption li {
	margin-top: 10px;
}

.subsection-left {
	width: 100%;
	height: 390px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: left;
	padding: 80px 70px 0 70px;
}

.subsection-left h3
{
	padding: 0;
	margin-bottom: 20px;
	font-size: 60px;
	font-weight: 700;
    color: #fff;
    width: auto;
    float: left;
}

.subsection-left p {
	color: #fff;
	float: left;
	clear: left;
	width: 530px;
	padding: 0;
	margin: 0;
}

.subsection-left a {
	color: #f7941d;
	font-size: 16px;
	margin-top: 20px;
	display: inline-block;
	text-transform: uppercase;
	float: left;
	clear: left;
}

.subsection-left a .subsection-hover-arrow {
	display: none;
	margin-left: 10px;
}

.subsection-left a:hover .subsection-hover-arrow {
	display: inline;
}

.subsection-center {
	width: 100%;
	margin-bottom: 20px;
	height: 390px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.subsection-center:last-child
{
	margin-bottom: 0;
}

.section-wide .subsection-center .inner,
.subsection-center .inner {
	background: none;
	top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    position: relative;
    height: auto;
    text-align: center;
    padding: 0 14%;
}

.subsection-center h4 {
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
	color: #fff;
}

.subsection-center p {
	color: #fff;
	margin: 12px 0 30px 0;
	padding: 0;
}

/* news section */
/*-----------------------------------------*/
.news-section {
	text-align: center;
}

.news-section .group {
	padding-left: 39px;
	padding-right: 39px;
	margin: 0 auto;
}

.news-section .item {
	float: left;
	width: 33%;
	padding: 42px 15px 42px 15px;
	text-align: left;
}

.news-section a,
.news-section .btn-1,
.news-section .btn-2 {
	margin: 0 auto 0 auto;
	clear: left;
	display: inline-block;
}

.news-section p {
	font-weight: 700;
}

.news-section .item a {
	font-size: 19px;
	line-height: 25px;
	letter-spacing: 0.5px;
}

.news-section h3 {
	margin: 0;
}

.search-bar-wrapper {
	position: relative;
	margin-bottom: 36px;
}

.search-input {
	height: 55px;
	border: 2px solid #e8e8e8;
	width: 100%;
	padding: 0 53px 0 16px;
	font-family: "Lato", Arial, Helvetica, sans-serif; 
	font-size: 24px;
	color: #525252;
	font-weight: 300;
	margin: 0;
}

.search-submit {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 54px;
	background: #007dc3 url('../img/article-listings/search-icon.png') no-repeat center;
	background-size: 29px 29px;
	border: none;
	text-indent: -6666px;
	overflow: hidden;
}

.search-submit:hover {
	background-color: #00649b;
}

/* ---------------------------------------------------------------------- TABLET LAND */

@media screen and (max-width: 900px) {

	#break1 {
		display: block;
	}

	section {
		min-width: 768px;
	}

	section.fixed {
		width: 768px;
		max-width: 768px;
	}

	section h3 {
		padding: 0 40px;
	}
	
	section.hero h2 {
		font-size: 48px;
		line-height: 48px;
		min-width: 768px;
		width: 768px;
		padding-left: 60px;
		padding-right: 60px;
	}

	section iframe {
		width: 768px;
		height: 432px;
	}

	.section-wide {
		padding-left: 0;
		padding-right: 0;
	}

	.section-wide .inner {
		width: 768px;
		min-width: 768px;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}

	.section-wide .container-block
	{
		width: 768px;
		height: 432px;
	}

	div.col-left {
		width: 100%;
		overflow: hidden;
		margin-right: 0;
		margin-left: 0;
		padding-left: 70px;
		padding-right: 70px;
	}

	div.col-right
	{
		clear: left;
		width: 100%;
		margin: 0;
		padding: 20px 50px 0 50px;
	}

	nav.breadcrumbs {
		padding: 10px 70px 40px 70px;
		width: 768px;
	}

	.news-section .item:first-child
	{
		padding-top: 40px;
	}

	.news-section .item {
		width: 100%;
		padding: 0 15px 40px 15px;
	}

	.news-section .item a,
	.news-section .item p {
		font-size: 18px;
		line-height: 22px;
	}

	.news-section .btn-2 {
		float: none;
	}

	.full-bleed-feature {
		padding: 0 90px 0 90px;
	}

	.tile-section {
		padding-left: 0;
		padding-right: 0;
	}

	.tile-section-small {
		padding-left: 12px;
		padding-right: 12px;
		text-align: center;
	}

	.tile-section-tile {
		float: left;
		width: 226px;
		margin: 40px 11px 0 11px;
	}

	.tile-section-small .tile-section-tile a.outer  {
		width: 226px;
		height: 138px;
		background-size: 226px 138px;
	}

	.tile-section-tile a.outer div.inner {
		width: 226px;
		height: 138px;
		color: #fff;	
		position: relative;
		margin: 0;
	}

	.tile-section-tile a.outer div.inner h4 {
		font-size: 21px;
		line-height: 26px;
	}

	.tile-section-big a {
		width: 230px;
		height: 260px;
		margin-left: 23px;
		margin-right: 0;
		background-size: 230px 260px;
	}

	.tile-section .cover h5 {
		font-size: 11px;
		line-height: 11px;
		border-bottom: solid 1px #fff;
	}

	.tile-section-big a div h4 {
		font-size: 24px;
		line-height: 24px;
		padding-left: 14px;
		padding-right: 14px;
	}

	.tile-section h4 sup {
		font-size: 12px;
		display: inline-block;
		margin: 0 0 0 2px;
	}

	.tile-section .inner p {
		font-size: 14px;
		line-height: 16px;
		width: 200px;
	}

	.subsection-center {
		height: 375px;
	}

	.subsection-left {
		height: 375px;
		-webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		-o-background-size: auto 100%;
		background-size: auto 100%;
		background-position: center;
	}
}


/* ---------------------------------------------------------------------- MOBILE LAND */

@media screen and (max-width: 552px) {

	#break1 {
		display: none;
	}

	#break2 {
		display: block;
	}

	section {
		min-width: 420px;
		padding: 35px 0;
	}

	section.fixed {
		width: 420px;
		max-width: 420px;
	}

	section.hero {
		margin-top: -57px;
		padding-top: 108px;
	}

	section.hero h2 {
		font-size: 32px;
		line-height: 36px;
		padding-left: 80px;
		padding-right: 80px;
		min-width: 420px;
		width: 420px;
	}

	section h3 {
		line-height: 36px;
		padding: 0;
	}

	.section-wide div.inner {
		width: 420px;
		min-width: 420px;
		margin: 0 auto;
		padding: 0 24px;
		height: auto;
	}

	.section-wide > p,
	.section-wide > .inner > p {
		margin: 16px 0 26px 0;
		padding: 0;
	}

	.section-wide .container-block {
		width: 100%;
		height: 210px;
		overflow: hidden;
	}

	.section-wide a
	{
		margin-top: 26px;
	}

	.subsection-center {
		height: 207px;
	}
	
	.subsection-center a {
		margin-top: 0;
	}

	.subsection-center .inner h4 {
		font-size: 31px;
		line-height: 36px;
		margin-bottom: 12px;
	}

	.subsection-center .inner p {
		display: none;
	}

	.subsection-left {
		height: 206px;
		padding: 66px 40px;
	}

	.subsection-left h3
	{
		font-size: 31px;
	}

	.subsection-left p {
		display: none;
	}

	.subsection-left a {
		margin-top: 0px;
	}

	section iframe {
		width: 372px;
		height: 210px;
	}

	div.col-left {
		width: 100%;
		overflow: hidden;
		margin-right: 0;
		margin-left: 0;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
	}

	div.col-right {
		display: none;
	}

	a.btn-1,
	a.btn-2 {
		font-size: 14px;
		line-height: 14px;
		padding: 12px 32px;
	}

	nav.breadcrumbs
	{
		display: none;
	}
	
	.news-section .group {
		padding-left: 22px;
		padding-right: 22px;
		width: 420px;
		min-width: 420px;
	}

	.news-section .item {
		width: 100%;
		padding: 0 0 25px 0;
	}

	.news-section .item:first-child
	{
		padding-top: 22px;
	}

	.news-section .item a {
		font-size: 17px;
		line-height-size: 21px;
	}

	.full-bleed-feature {
		height: 480px;
		padding: 0 70px 0 70px;
	}

	.full-bleed-feature h3 {
		font-size: 32px;

	}

	.full-bleed-feature p {
		font-size: 20px;
		line-height: 26px;
		width: auto;
		letter-spacing: 1px;
		margin-top: 0;
	}

	.tile-section {
		padding-left: 20px;
		padding-right: 20px;
	}

	.tile-section h3 {
		margin-bottom: 20px;
	}

	.tile-section-small {
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	.tile-section-small h3 {
		margin-bottom: 0;
	}

	.tile-section-tile {
		width: 100%;
		margin: 20px 0 0;
	}

	.tile-section-small .tile-section-tile a.outer {
		width: 375px;
		height: 99px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.tile-section-small .tile-section-tile a.outer div.inner {
		width: 375px;
		height: 99px;
	}

	.tile-caption p {
		margin-top: 5px;
	}

	.tile-caption ul {
		display: none;
	}

	.tile-section-big a {
		width: 374px;
		height: 274px;
		margin-left: 0;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin-bottom: 20px;
	}

	.tile-section .inner p {
		width: 295px;
		font-size: 17px;
		line-height: 21px;
	}

	.search-bar-wrapper {
		margin-bottom: 16px;
	}

	.search-input {
		height: 28px;
		border: 1px solid #e8e8e8;
		padding: 0 28px 0 16px;
		font-size: 12px;
	}

	.search-submit {
		width: 28px;
		background-size: 15px 15px;
	}
}