/* ----------------------------------------
  Footer CSS
------------------------------------------ */

footer {
	width: 100%;
	min-width: 1280px;
	color: #fff;
	background-color: #007dc3;
	text-align: center;
}

footer a,
footer a:hover,
footer a:visited {
	color: #fff;
}

footer nav {
	padding: 40px 40px 40px 40px;
	width: 1280px;
	min-width: 1280px;
	margin: 0 auto 0 auto;
	display: inline-block;
}

footer nav section {
	float: left;
	width: 170px;
	min-width: 170px;
	margin: 0 15px 0 15px;
	clear: none;
}

footer nav h4 {
	margin-bottom: 18px;
}

footer h4,
footer nav section h4 a,
footer nav section.stacked h4 a {
	font-size: 16px;
	line-height: 16px;
	font-family: 'Exo 2';
	font-weight: 800;
	text-transform: uppercase;
}

footer nav ul,
footer nav li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

footer nav li {
	font-size: 14px;
	margin-bottom: 8px;
}

footer nav section li a,
footer nav section a {
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	font-family: 'Exo 2';
}

footer ul.connect {
	margin-top: 15px;
}

footer ul.connect li {
	float: left;
	margin-right: 10px;
}

footer ul.connect a {
	font-size: 25px;
	color: #fff;
}

footer section.primary {
	width: 100%;
	background: #fff;
	color: #007dc3;
	padding: 20px 55px 20px 55px;
	float: left;
	margin: 0;
	
}

footer section.primary h1,
footer section.primary p {
	display: inline-block;
	float: left;
}

footer section.primary h1 {
	background-image: none;
	background-size: 115px 28px;
	width: 115px;
	height: 28px;
	text-indent: -6666px;
	overflow: hidden;
}

footer section.primary p {
	margin-left: 88px;
	font-size: 14px;
	line-height: 14px;
	margin-top: 4px;
}

footer section.primary a {
	float: right;
	color: #007dc3;
	font-size: 14px;
	font-weight: 400;
	margin-left: 35px;
	line-height: 14px;
	margin-top: 4px;
}

footer section.primary a:hover {
	color: #00649b;
}

footer .mobile-nav-back-button,
footer .mobile-nav-tertiary-header {
	display: none;
}

/* ---------------------------------------------------------------------- TABLET LAND */

@media screen and (max-width: 900px) {

	footer {
		width: 100%;
		min-width: 768px;
	}

	footer nav {
		padding: 40px 15px 40px 15px;
		width: 768px;
		min-width: 768px;
	}

	footer nav section {
		float: left;
		width: 154px;
		min-width: 154px;
		margin: 0 15px 0 15px;
	}

	footer section.primary {
		padding-left: 25px;
		padding-right: 25px;
	}

	footer section.primary p {
		margin-left: 18px;
		line-height: 14px;
		margin-top: 4px;
	}

	
}

/* ---------------------------------------------------------------------- MOBILE LAND */
@media screen and (max-width: 552px) {

	footer {
		/*width: 100%;*/
		min-width: 420px;
	}

	footer nav {
		padding-left: 24px;
		padding-right: 24px;
		min-width: 0;
		width: 100%;
		padding-top: 0;
	}

	footer nav section,
	footer nav section li {
		width: 100%;
		margin: 0;

	}

	footer nav section h4 a {
		font-size: 22px;
	}

	footer nav section h4,
	footer nav section li {
		border-bottom: 1px solid #3592c6;
	}

	footer .footer-contact h4 {
		border: none;
	}

	footer nav ul{
		display: none;
	}

	footer section.primary {
		padding: 12px 24px 12px 24px;
	}

	footer section.primary h1 {
		width: 76px;
		height: 18px;
		background-size: 76px 18px;
	}

	footer section.primary p,
	footer section.primary a {
		font-size: 10px;
		line-height: 10px;
		margin-top: 4px;
	}

	footer section.primary p {
		margin-left: 4px;
	}

	footer section.primary a {
		margin-left: 10px;
	}

	footer nav section h4,
	footer nav section li {
		margin: 0;
		padding: 12px 8px;
	}

	footer nav section h4 a,
	footer nav section li a {
		width: 100%;
		display: inline-block;
		background: url('../img/global/mobile-navigation-arrow-right.png') no-repeat 100% 50%;
		background-size: 6px 10px;
		line-height: 22px;
		text-transform: uppercase;
	}
	
	footer nav section.stacked h4 a,
	footer nav section li a {
		font-weight: 200;
		font-size: 20px;
	}

	.footer-contact h4 {
		font-size: 22px;
	}

	.footer-contact a {
		padding: 12px 8px;
		display: inline-block;
		font-size: 22px;
		font-family: "Exo 2", Arial, Helvetica, sans-serif;
		padding-top: 8px;
	}

	footer nav .mobile-nav-back-button {
		display: inline-block;
	}

	footer nav .mobile-nav-back-button a,
	footer nav .mobile-nav-tertiary-header {
		display: inline-block;
		text-transform: uppercase;
	}

	footer nav .mobile-nav-back-button a {
		background: url('../img/global/mobile-navigation-arrow-left.png') no-repeat 100% 50%;
		background-size: 6px 10px;
	}
}


