/* ----------------------------------------
  Header CSS
------------------------------------------ */

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	max-height: 45px;
	z-index: 100;
	min-width: 420px;
	
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

header.expanded {
	top: 0;
	left: 0;
	right: 0;
	background-color: #017dc3;
	max-height: 5000px;
}

#primary,
#secondary,
.tertiary {
	padding: 0 34px;
}

#primary,
#secondary {
	text-align: left;
	position: relative;
	right: 0;

	/*-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;*/
}

#primary.offscreen-left,
#secondary.offscreen-left,
.tertiary.offscreen-left .links,
#primary .utilities.offscreen-left,
.global.offscreen-left,
.more-from-site.offscreen-left {
	right: 100%;
	display: none;
	position: relative;
}

#primary a,
#secondary a,
.tertiary a {
	color: #fff;
	text-transform: uppercase;
}

#secondary .logo {
	display: none;
}

#search {
	background: #fff;
	margin-top: 12px;
}

#search a span {
	display: none;
}

#search .primary-search-bar {
	width: 100%;
	border: none;
	padding: 14px 42px;
	line-height: 18px;
}

#search .primary-search-wrapper {
	position: relative;
}

#search .primary-search-submit {
	background: url('../img/global/search-mobile.png') no-repeat 0 0;
	background-size: 22px 22px;
	display: block;
	border: none;
	width: 22px;
	height: 22px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 34px;
}

.primary-search-bar::-webkit-input-placeholder {
	font-family: "Exo 2", Arial, Helvetica, sans-serif;
	color: #1474b2;
	font-size: 20px;
	text-transform: uppercase;
}
.primary-search-bar::-moz-placeholder {
	font-family: "Exo 2", Arial, Helvetica, sans-serif;
	color: #1474b2;
	font-size: 20px;
	text-transform: uppercase;
}
.primary-search-bar:-moz-placeholder {   /* Older versions of Firefox */
	font-family: "Exo 2", Arial, Helvetica, sans-serif;
	color: #1474b2;
	font-size: 20px;
	text-transform: uppercase;
}
.primary-search-bar:-ms-input-placeholder { 
	font-family: "Exo 2", Arial, Helvetica, sans-serif;
	color: #1474b2;
	font-size: 20px;
	text-transform: uppercase;
}

header nav#primary > ul > li,
header nav#secondary > ul > li,
header .tertiary .links ul li,
header .quaternary ul li,
.global {
	display: block;
	list-style: none;
	border-bottom: 1px solid #3592c6;
	padding: 12px 8px;
}

header nav#primary > ul,
header nav#secondary > ul {
	padding: 0;
	margin: 0;
}

header nav#primary ul li a,
header nav#secondary ul li a,
header .tertiary ul li a,
.global a {
	width: 100%;
	display: inline-block;
	background: url('../img/global/mobile-navigation-arrow-right.png') no-repeat 100% 50%;
	background-size: 6px 10px;
}

nav#secondary a,
header .tertiary .mobile-nav-back-button a,
.mobile-nav-tertiary-header,
footer nav .mobile-nav-back-button a,
footer nav .mobile-nav-tertiary-header {
	font-family: "Exo 2", Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 700;
}

.mobile-nav-tertiary-header {
	text-transform: uppercase;
}

nav#primary a,
header .tertiary a {
	font-family: "Exo 2", Arial, Helvetica, sans-serif;
	font-weight: 200;
	font-size: 20px;
}

nav#primary .global a,
nav#primary .more-from-site a {
	font-size: 15px;
}

header .menu-button {
	font-size: 9px;
	color: #fff;
	border: 2px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 5px;
	text-transform: uppercase;
	position: absolute;
	right: 34px;
	top: 18px;
}

header .tertiary ul .mobile-nav-back-button a {
	background: url('../img/global/mobile-navigation-arrow-left.png') no-repeat 100% 50%;
	background-size: 6px 10px;
}

header > .logo {
	background: none;
	background-size: 115px 27px;
	height: 27px;
	width: 115px;
	position: relative;
	margin-top: 15px;
	left: 50%;
	margin-left: -57px;
}

header .logo a span {
	display: none;
}

#mobile-menu-checkbox {
	display: none;
}

.global {
	background: url('../img/global/icon-language.png') no-repeat 11px -14px;
	background-size: 39px 44px;
	padding-left: 58px;
}

.global a {
	background-position: 100% 3px;
}

header nav#primary .more-from-site > li {
	background: url('../img/global/global.png') no-repeat 17px -19px;
	background-size: 20px 50px;
	padding-left: 58px;
}

#primary .global a,
#primary .more-from-site a {
	font-size: 15px;
	background-position: 100% 3px;
}

header nav#primary .primary-nav-dropdown {
	display: none;
	background-color: #017dc3;
	color: #fff;
	text-align: left;
}

header nav#primary .primary-nav-dropdown h2 {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 10px;
	text-transform: none;
}

header nav#primary .primary-nav-dropdown p {
	font-size: 14px;
	line-height: 19px;
	text-transform: none;
}

header nav#primary .primary-nav-dropdown a {
	color: #fff;
	display: block;
	line-height: 14px;
	margin-bottom: 10px;
	padding-top: 10px;
	text-transform: none;
}

header nav#primary .primary-nav-dropdown a:hover {
	color: #fff;
}

header nav#primary .primary-nav-dropdown li {
	text-transform: none;
	list-style: none;
	border-bottom: 1px solid #80bee1;
}

header .tertiary {
	position: absolute;
	top: 101px;
	width: 100%;
	left: 100%;
	text-align: left;
	display: none;

	/*-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;*/
}

header .tertiary.active {
	display: block;
	position: relative;
	/*top: 137px;*/
	top: 0;
	width: 100%;
	left: 0;
}

header .tertiary .content nav ul {
	padding-left: 0;
	margin: 0;
}

header .tertiary .content nav ul li {
	list-style: none;
}

header .tertiary .content nav ul li,
header .tertiary .content nav ul li a,
header .tertiary .content nav ul li.active a {
	color: #FFFFFF;
}

header .tertiary .content nav ul li:last-child {
	border-bottom: none;
}

header .tertiary .content nav.quaternary ul.active {
	display: block;

}

header .tertiary .content nav.quaternary ul {
	display: none;
}

header .tertiary .content .primary-image {
	display: none;
}

header nav#primary .global .primary-nav-dropdown .right-column a {
	height: 26px;
}

header nav#primary .global .primary-nav-dropdown .country-name {
	float: left;
}

header nav#primary .global .primary-nav-dropdown .country-language {
	float: right;
	color: #bfdef0;
	font-weight: normal;
}

/* mobile only styles, will not trickle up to tablet and desktop */
@media screen and (max-width: 552px) {
	header nav#primary .primary-nav-dropdown li {
		display: block;
		list-style: none;
		border-bottom: 1px solid #3592c6;
		padding: 12px 8px;
	}

	header nav#primary .primary-nav-dropdown .mobile-nav-back-button a {
		background: url('../img/global/mobile-navigation-arrow-left.png') no-repeat 100% 50%;
		background-size: 6px 10px;
		height: 24px;
		line-height: 24px;
		margin: 0;
		padding: 0;
	}

	header nav#primary .primary-nav-dropdown-target.active,
	header nav#primary .primary-nav-dropdown-target.active > li {
		background: none;
		padding: 0;
	}

	header nav#primary .primary-nav-dropdown-target.active ul {
		padding: 0;
		margin: 0;
	}

	header nav#primary .primary-nav-dropdown-target.active > a,
	header nav#primary .primary-nav-dropdown-target.active > li > a {
		display: none;
	}

	header nav#primary .primary-nav-dropdown-target.active .primary-nav-dropdown {
		display: block;
	}

	header nav#primary .primary-nav-dropdown a {
		background: none;
	}

	header nav#primary .primary-nav-dropdown li {
		border-bottom: 1px solid #3592c6;
	}

	header nav#primary .primary-nav-dropdown li:last-child {
		border: none;
	}

	header nav#primary .primary-nav-dropdown .left-column {
		display: none;
	}

	header nav#primary .global .primary-nav-dropdown .country-name {
		text-transform: uppercase;
	}

	header nav#primary .global .primary-nav-dropdown .country-language {
		color: #fff;
	}
}

/* ---------------------------------------------------------------------- TABLET AND BIGGER */

@media screen and (min-width: 552px) {
	header {
		background-color: #FFFFFF;
		display: block;
		max-height: 50px;
		min-width: 768px;
		text-align: left;
		width: 100%;
		z-index: 10;
		padding: 0;
		overflow: visible;
	}

	header.expanded {
		background-color: none;
	}

	header > .logo {
		display: none;
	}

	header .menu-button {
		display: none;	
	}

	#primary,
	#secondary,
	.tertiary {
		padding: 0;
	}

	header nav#primary {
		display: block;
		font-size: 13px;
		height: 50px;
		margin: 0 auto;
		min-width: 768px;
		text-align: right;
	}

	header nav#primary a {
		text-decoration: none;
		color: #007dc3;
		font-size: 13px;
	}

	header nav#primary a:hover {
	    color: #00649b;
	}

	#search {
		border-right: solid 1px #D5D5D5;
		display: inline-block;
		float: left;
		height: 100%;
		padding-left: 24px;
		padding-right: 36px;
		padding-top: 18px;
		text-transform: uppercase;
		vertical-align: top;
		width: 14px;
		background: none;
		margin-top: 0;
	}

	#search.active {
		background-color: #017dc3;
	}

	#search.active a {
		background-position: 0 -34px;
	}

	#search a {
		background: url('../img/global/search.png') no-repeat;
		background-size: 14px 48px;
		color: #959595;
		display: block;
		font-family: "Exo 2", Arial, Helvetica, sans-serif;
		font-weight: 200;
		height: 14px;
		width: 14px;
	}

	#search .primary-search-bar {
		border: none;
		border-bottom: 2px solid #80bee3;
		font-size: 24px;
		line-height: normal;
		color: #fff;
		width: 100%;
		padding: 10px 60px 10px 24px;
		background-color: #017dc3;
		margin: 0;
	}

	.primary-nav-dropdown {
		padding: 0;
		z-index: 250;
		padding: 30px 0 30px 27px;
	}

	#search .primary-search-wrapper {
		position: relative;
		margin: 45px 53px 51px;
	}

	#search .primary-search-submit {
		background: url('../img/global/icon-search-dropdown.png') no-repeat 0 0;
		background-size: 27px 26px;
		display: block;
		border: none;
		width: 27px;
		height: 26px;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 10px;
		right: 30px;
	}

	.primary-search-bar::-webkit-input-placeholder {
		font-family: "Lato", Arial, Helvetica, sans-serif;
		color: #fff;
		font-size: 24px;
	}
	.primary-search-bar::-moz-placeholder {
		font-family: "Lato", Arial, Helvetica, sans-serif;
		color: #fff;
		font-size: 24px;
	}
	.primary-search-bar:-moz-placeholder {   /* Older versions of Firefox */
		font-family: "Lato", Arial, Helvetica, sans-serif;
		color: #fff;
		font-size: 24px;
	}
	.primary-search-bar:-ms-input-placeholder { 
		font-family: "Lato", Arial, Helvetica, sans-serif;
		color: #fff;
		font-size: 24px;
	}

	header nav#primary > ul > li,
	header nav#secondary > ul > li,
	header .tertiary .links ul li,
	.global {
		border: none;
		padding: 0;
	}

	header nav#primary > ul {
		display: inline-block;
		text-transform: uppercase;
		vertical-align: top;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	header nav#primary > ul > li,
	header nav#secondary > ul > li {
		padding: 0;
		border: none;
	}

	header nav#primary > ul > li {
		display: inline-block;
	}

	header nav#primary > ul > li a {
		font-family: "Exo 2", Arial, Helvetica, sans-serif;
		font-weight: 200;
		line-height: 50px;
	}

	header nav#primary ul.utilities {
		margin-right: 7px;
	}

	header nav#primary ul.utilities li {
		margin-left: 12px;
		margin-right: 12px;
	}

	.global {
		background: none;
	}

	header nav#primary .global {
		border-left: solid 1px #D5D5D5;
		border-right: solid 1px #D5D5D5;
		display: inline-block;
		height: 50px;
		padding-left: 8px;
		padding-right: 26px;
		padding-top: 16px;
		width: 59px;
		float: right;
	}

	header nav#primary .global > a {
		background: url('../img/global/icon-language.png') no-repeat top left;
		background-size: 39px 44px;
		color: #959595;
		display: block;
		font-family: "Exo 2", Arial, Helvetica, sans-serif;
		font-weight: 200;
		height: 17px;
		width: 39px;
	}

	header nav#primary .global.active {
		background-color: #017dc3;
	}

	header nav#primary .global.active > a {
		background-position: 0 -27px;
	}

	header nav#primary .global > a span {
		display: none;
	}

	header nav#primary .primary-nav-dropdown {
		position: absolute;
		left: 0;
		right: 0;
		top: 50px;
		padding: 30px 0;
	}

	header nav#primary .primary-nav-dropdown li {
		border-bottom: 1px solid #80bee1;
	}

	header nav#primary .primary-nav-dropdown .left-column {
		width: 171px;
		float: left;
		display: block;
		margin-left: 27px;
	}

	header nav#primary .primary-nav-dropdown .right-column {
		float: left;
	}

	header nav#primary .primary-nav-dropdown .right-column ul {
		padding: 0;
		margin: 0 0 0 31px;
		width: 243px;
		float: left;
	}
	
	header nav#primary .primary-nav-dropdown .right-column li:last-child {
		border: none;
	}

	header nav#primary .more-from-site > li {
		background: none;
		padding-left: 0;
	}

	header nav#primary ul.more-from-site {
		float: right;
		border-right: solid 1px #D5D5D5;
		padding-right: 10px;
		padding-left: 12px;
	}

	header nav#primary ul.more-from-site.active {
		background-color: #017dc3;
	}

	header nav#primary ul.more-from-site > li > a {
		background: url('../img/global/global.png') no-repeat 0 15px;
		background-size: 20px 50px;
		padding-left: 30px;
		padding-right: 15px;
		display: inline-block;
		font-size: 13px;
	}
	
	header nav#primary ul.more-from-site.active > li > a {
		color: #fff;
		background-position: left -15px;
	}

	header nav#secondary {
		text-align: center;
		width: 100%;
		display: block;
	}

	header nav#secondary ul {
		margin: 0 auto 1em;
		max-width: 1280px;
		overflow: hidden;
		padding: 0;
	}

	header nav#secondary ul li {
		display: block;
		height: 87px;
		margin: 0;
		min-height: 31px;
		padding: 24px 0;
		vertical-align: top;
		/*width: 20%;*/
		width: 25%;
		float: left;
		z-index: 200;
		position: relative;
	}

	header nav#primary ul li a,
	header nav#secondary ul li a,
	header .tertiary ul li a {
		background: none;
		width: auto;
	}

	header nav#secondary ul li a {
		font-size: 16px;
	}

	header nav#secondary ul li.active {
		background-color: #FFFFFF;
	}

	header nav#secondary ul li.active a {
		border-bottom-color: #007dc3;
		border-bottom-style: solid;
		border-bottom-width: 4px;
		color: #007dc3;
		padding-bottom: 0.5em;
	}

	header nav#secondary ul li.logo {
		min-height: 27px;
		min-width: 115px;
		display: inline-block;
	}

	header nav#secondary ul li.logo h1 a {
		background-image: none;
		background-size: 115px 27px;
		background-position: center center;
		background-repeat: no-repeat;
		display: block;
		height: 27px;
		margin-bottom: -4px;
		margin-top: -4px;
		min-width: 115px;
	}

	header .tertiary .links ul li.mobile-nav-back-button,
	header .quaternary ul li.mobile-nav-back-button,
	header .tertiary .links ul li.mobile-nav-tertiary-header,
	header .quaternary ul li.mobile-nav-tertiary-header {
		display: none;
	}

	header .tertiary {
		left: auto;
		display: none;
		top: 137px;

		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}

	header .tertiary.active {
		display: none;
		position: absolute;
		top: 137px;
	}

	header .tertiary .content {
		background-color: #FFFFFF;
		-moz-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
		-webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
		box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
		margin: 0 auto;
		padding-bottom: 2em;
		padding-left: 4em;
		padding-right: 4em;
		padding-top: 2em;
		width: 100%;
	}

	header .tertiary .content nav {
		display: inline-block;
		margin-left: 4px;
		vertical-align: top;
		width: 49%;
	}

	header .tertiary .content nav ul {
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;
	}

	header .tertiary .content nav ul li {
		border-bottom-color: #007dc3;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		color: #007dc3;
		list-style: none;
		padding-bottom: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 0.5em;
		font-size: 18px;
	}

	header .tertiary .content nav ul li,
	header .tertiary .content nav ul li a {
		color: #007dc3;
		font-size: 18px;
	}

	header .tertiary .content .quaternary li a {
		font-size: 16px;
		color: #007ec0;
		text-transform: none;
		font-family: "Exo 2", Arial, Helvetica, sans-serif;
	}

	header .tertiary .content .quaternary li {
		border-bottom: 1px dotted #007ec0;
		padding-left: 0;
	}

	header .tertiary .content nav ul li.active {
		background-color: #007dc3;
		background-image: url('../img/global/navigation-arrow.png');
		background-position: 95.5% center;
		background-repeat: no-repeat;
	}

	header .tertiary .content nav ul li.active a {
		color: #FFFFFF;
	}

	header .tertiary .content nav.quaternary {
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}

	header .tertiary .content nav.quaternary ul {
		display: none;
		margin-left: 2em;
		margin-right: 2em;
		padding-left: 0;
	}

	header .tertiary .content nav.quaternary ul:first-child {
		display: block;
	}
}

/* ---------------------------------------------------------------------- DESKTOP AND BIGGER */

@media screen and (min-width: 900px) {
	header {
		min-width: 1280px;
	}
	
	header nav#primary {
		width: 100%;
		font-size: 13px;
		text-align: center;
	}

	#search {
		margin-left: 56px;
		border-left: solid 1px #D5D5D5;
	}

	header nav#primary ul.utilities {
		margin-left: 240px;
	}

	header nav#primary ul.utilities li {
		margin-left: 24px;
		margin-right: 24px;
	}

	header nav#primary ul.more-from-site {
		margin-right: 56px;
		padding-left: 30px;
		padding-right: 20px;
	}

	header nav#primary ul.more-from-site > li > a {
		font-size: 15px;
	}

	header nav#primary .primary-nav-dropdown {
		padding: 30px 0 30px 25px;
	}

	header nav#primary .primary-nav-dropdown .right-column {
		margin-left: 0;
	}
	
	header nav#primary .primary-nav-dropdown .right-column ul {
		width: 270px;
	}

	header nav#primary .primary-nav-dropdown .left-column {
		width: 270px;
		margin-left: 25px;
	}

	header nav#secondary ul {
		margin-bottom: 0;
	}

	header nav#secondary ul li {
		/*width: 20%;*/
		width: 25%;
		padding: 28px 0;
		float: left;
	}

	header nav#secondary ul li:first-child {
		margin-left: 0;
	}

	header nav#secondary ul li:last-child {
		margin-right: 0;
	}

	header nav#secondary ul li a {
		font-size: 18px;
	}

	header nav#secondary ul li.logo h1 a {
		background-size: 132px 31px;
		height: 31px;
		min-width: 132px;
	}

	header .tertiary {
		max-width: 1280px;
		margin: 0 auto;
	}

	header .tertiary .content {
		width: 100%;
	}

	header .tertiary,
	header .tertiary.active {
		position: relative;
		top: 0;
	}

	#main #content {
		margin-top: 18px;
	}
}

@media screen and (min-width: 1280px) {

	header nav#primary ul.utilities {
	
	}

	header .tertiary .content nav.quaternary {
		width: 33%;
	}
	
	header .tertiary .content .primary-image {
		display: inline-block;
		margin-top: 6px;
		vertical-align: top;
		width: 374px;
	}
	
	header .tertiary .content nav {
		width: 33%;
	}
	
	#search {
	}
}