/* ----------------------------------------
  Typography CSS
------------------------------------------ */

html, body, #main {
    font-family: "Lato", Arial, Helvetica, sans-serif; 
    font-weight: 700;
    color: #898989;
}

a,
a:visited {
    text-decoration: none;
    color: #007dc3;
}

a:hover {
    color: #00649b;
}

p, h1, h2, h3, h4 {
    margin: 0 0 0 0;
    font-weight: normal;
}

p {
    font-size: 21px;
    line-height: 34px;
    font-weight: 200;
}

h1 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

h2 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}

h3 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}

h4 {
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
}

sup {
    font-size: 10px;
}
