/* ----------------------------------------
  Home CSS
------------------------------------------ */

/* common */

section p {
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.5px;
	font-weight: 200;
}

section a {
	font-size: 19px;
	line-height: 25px;
	letter-spacing: 0.5px;
}

/* sections */
/*-----------------------------------------*/

section.hero {
	height: 444px;
	padding: 132px 0 0 0;
}

section.hero h2
{
	color: #fff;
	font-size: 48px;
	line-height: 52px;
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: 60px;

}

/*-----------------------------------------*/

#our-story {
	padding: 0;
	margin: 0;
}

.slider-4-cols {
	width: 100%;
	float: left;
}

.slider-4-cols .slider-item {
	width: 25.15%;
	height: 256px;
	float: left;
	display: inline-block;
	padding-right: 5px;
	margin-top: 5px;
	position: relative;
}

.slider-4-cols .slider-item:last-child {
	width: 24.55%;
	padding-right: 0;
}

.slider-4-cols .slider-item a {
	background-size: auto 100%;
	background-position: top center;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
}

.slider-4-cols .slider-item a .cover {
	width: 100%;
	height: 100%;
	background: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.slider-4-cols .slider-item a:hover .cover {
	background: rgba(0,0,0,.15);
}

.slider-4-cols .slider-item a .inner {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    padding: 0 12%;
    text-align: center;
    color: #fff;
    width: 100%;
    display: inline-block;
    height: auto;
}

.slider-4-cols h3 {
	font-size: 30px;
	line-height: 34px;
	font-weight: 700;
	color: #fff;
	margin: 0;
}

.slider-4-cols p {
	margin-top: 14px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;	
}

.BrightcoveExperience {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} 

/* ---------------------------------------------------------------------- TABLET LAND */

@media screen and (max-width: 900px) {

	section.hero {
		height: 436px;
		padding: 120px 0 0 0;
	}

	section.hero h2 {
		color: #fff;
		font-size: 38px;
		line-height: 42px;
		margin-bottom: 40px;
		padding-left: 80px;
		padding-right: 80px;
	}

	.slider-4-cols .slider-item {
		width: 25.15%;
		height: 153px;
	}

	.slider-4-cols .slider-item a .inner {
	    padding: 0 6%;
	}

	.slider-4-cols h3 {
		font-size: 22px;
		line-height: 24px;
	}

	.slider-4-cols p {
		margin-top: 10px;
		font-size: 12px;
		line-height: 14px;
	}
}


/* ---------------------------------------------------------------------- MOBILE LAND */

@media screen and (max-width: 552px) {

	section h3 {
		font-size: 31px;
		line-height: 31px;
	}

	section p,
	section a {
		font-size: 17px;
		line-height: 21px;
		letter-spacing: 0;
	}

	section.hero {
		height: 535px;
		padding: 150px 0 0 0;
	}

	section.hero h2 {
		color: #fff;
		font-size: 32px;
		line-height: 36px;
		margin-bottom: 40px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#our-story {
		height: 335px;
		width: 100%;
		overflow: hidden;
	}

	.slider-4-cols .slider-item {
		width: 100%;
		height: 335px;
		margin-top: 0;
		padding: 0;
		position: relative;
	}


	.slider-4-cols .slider-item a {
		width: 100%;
		height: 335px;
		margin: 0;
	}

	.slider-4-cols h3 {
		font-size: 30px;
		line-height: 34px;
	}

	.slider-4-cols p {
		margin-top: 14px;
		font-size: 16px;
		line-height: 20px;
	}
	.slider-4-cols .slider-item a .inner {
		padding: 0 12%;
	}

	.slider-4-cols .slick-dots {
		padding: 0;
		z-index: 20;
		position: absolute;
		margin: 300px auto 0 auto;
		width: 100%;
		overflow: hidden;
		top: 0;
		display: block;
		text-align: center;
	}

	.slider-4-cols  .slick-dots li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: inline-block;
	}

	.slider-4-cols  .slick-dots li button {
		text-indent: -6666px;
		overflow: hidden;
		width: 11px;
		height: 11px;
		border: none;
		background: none;
		margin-right: 8px;
		margin-left: 8px;
	}

	.slider-4-cols .slick-dots li button {
		background: url('../img/home/icon-slider-off.png') top left no-repeat;
	}
	.slider-4-cols .slick-dots li.slick-active button {
		background: url('../img/home/icon-slider-off.png') top left no-repeat;
	}


	section#feature2 canvas {
		display: none;
	}
}